* {
    font-family: 'Consolas', cursive;
}
body {
    background-color: rgb(22, 22, 22);
    overflow: hidden;
}
#btn1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 10%;
    font-size: 30px;
    padding: 40px;
    width: 40px;
    height: 40px;
    z-index: 20;
    background-color: white;
    cursor: pointer;
}
#btn:active {
    transform: scale(0.9);
}
#btn2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    font-size: 30px;
    padding: 40px; 
    width: 40px;
    height: 40px;
    z-index: 20;
    background-color: white;
    cursor: pointer;
}
#btn:active {
    transform: scale(0.9);
}
.sun {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(255, 225, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.ast {
    width: 785px;
    height: 785px;
    border-radius: 50%;
    background-image: url('https://ultraalkaline.github.io/oursolarsystem/images/asteroid_belt.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -315px;
    left: -315px;
    animation: rotate 25s linear infinite;
    z-index: -99;
}
.rad {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(255, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(10px);
    z-index: 1;
}
.bg:nth-child(1) {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -51px;
    left: -51px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    animation-play-state: running;
    z-index: 4;
    & .planet {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 110px;
        left: 238px;
        background-color: #a97c50;
        border-radius: 50%;
    }
}
.bg:nth-child(2) {
    width: 350px;
    height: 350px;
    position: absolute;
    top: -101px;
    left: -101px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: rotate 10s linear infinite;
    z-index: -91;
    & .planet {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 150px;
        left: 330px;
        background-color: #fe9738;
        border-radius: 50%;
        z-index: -1;
    }
}
.bg:nth-child(3) {
    width: 450px;
    height: 450px;
    position: absolute;
    top: -151px;
    left: -151px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: rotate 15s linear infinite;
    z-index: -92;
    & .planet {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 200px;
        left: 430px;
        background-color: #89c8fd;
        border-radius: 50%;
        z-index: -2;
        & .b2 {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            position: absolute;
            top: -15px;
            left: -15px;
            animation: rotate 5s linear infinite;
            z-index: -93;
            & .moon {
                width: 15px;
                height: 15px;
                background-color: #8a8f92;
                position: absolute;
                top: 28px;
                left: 65px;
                border-radius: 50%;
                z-index: -3;
            }
        }
    }
}
.bg:nth-child(4) {
    width: 550px;
    height: 550px;
    position: absolute;
    top: -201px;
    left: -201px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: rotate 20s linear infinite;
    z-index: -94;
    & .planet {
        width: 23px;
        height: 23px;
        position: absolute;
        top: 261px;
        left: 539px;
        background-color: #b93c28;
        border-radius: 50%;
        z-index: -4;
    }
}
.bg:nth-child(5) {
    width: 800px;
    height: 800px;
    position: absolute;
    top: -321px;
    left: -321px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: rotate 25s linear infinite;
    z-index: -95;
    & .planet {
        width: 75px;
        height: 75px;
        position: absolute;
        top: 353px;
        left: 760px;
        background-color: #f7a539;
        border-radius: 50%;
        z-index: -5;
    }
}
.bg:nth-child(6) {
    width: 985px;
    height: 985px;
    position: absolute;
    top: -411.8px;
    left: -411.8px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: rotate 30s linear infinite;
    z-index: -96;
    & .planet {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 455px;
        left: 957px;
        background-color: bisque;
        border-radius: 50%;
        z-index: -6;
    }
}
.bg:nth-child(7) {
    width: 1130px;
    height: 1130px;
    position: absolute;
    top: -485px;
    left: -485px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: rotate 35s linear infinite;
    z-index: -97;
    & .planet {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 535px;
        left: 1110px;
        background-color: lightblue;
        border-radius: 50%;
        z-index: -7;
    }
}
.bg:nth-child(8) {
    width: 1250px;
    height: 1250px;
    position: absolute;
    top: -545px;
    left: -545px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: rotate 40s linear infinite;  
    z-index: -98;
    & .planet {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 595px;
        left: 1230px;
        background-color: rgb(44, 107, 128);
        border-radius: 50%;
        z-index: -8;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.SS {
    position: relative;
    margin: 15%;
}
#pl:hover {
    cursor: pointer;
}